<div data-role="page" id="myorders" data-title="" ng-controller="myordersCtrl">
    <div data-role="header" class="ui-header-fixed">
        <h1></h1>
        <a href="#" data-rel="back">返回</a>
        <a href="#" class="btn ui-btn-corner-all ui-shadow ui-icon-bars"  ng-click="jump2Orders()">订单</a>
    </div>
    <div class="ui-content">
        <h2 style="text-align: center;">我的订单</h2>
        <table data-role="table" id="myorderslist" class="ui-shadow table-stripe ui-responsive">
            <thead>
            <tr>
                <th>菜品</th>
                             
                <th>下单时间</th>
                             
                <th>联系人</th>
                             
                <th>电话</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="k in orders">
                <th><img ng-src="img/{{k.img_sm}}" alt=""/></th>
                             
                <td>{{k.order_time}}</td>
                             
                <td>{{k.user_name}}</td>
                             
                <td>{{k.phone}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>